@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-md {
    width: 90% !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    margin-right: auto;
    margin-left: auto;
}
/*
 
 ##     ##          ######  ##       ######## ########  ######## ########  
 ###   ###         ##    ## ##       ##       ##     ## ##       ##     ## 
 #### ####         ##       ##       ##       ##     ## ##       ##     ## 
 ## ### ##          ######  ##       ######   ##     ## ######   ########  
 ##     ##               ## ##       ##       ##     ## ##       ##   ##   
 ##     ##         ##    ## ##       ##       ##     ## ##       ##    ##  
 ##     ## #######  ######  ######## ######## ########  ######## ##     ## 
 
*/
/* M_slider */
#M_slider{
position: relative;
height: 100vh;
width: 100%;
left: 0px;
bottom: 0;
}
.wrap-menu{
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
}
.myNav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}
.navUl{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 70px;
    margin-top: 10px;
}
.navLi{
    color: #fff;
    padding: 10px 5px;
    margin: 10px 0;

}
.navLi a{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding: 15px 15px 5px;
}
.navLi:hover{
    color: #ec1d25!important;

}
.iconNav{
    margin-left: 30px;
    margin-bottom: 5px;
}
.iconNava  a{
    font-size: 15;
    color: #fff;

}
a:hover{
    color: #ec1d25!important;

}
.nav3-{
    cursor:pointer;
    width: 26px;
    height: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 3px 0 0 25px;
}
@media screen and (max-width: 992px) {
    .navUl{
        display: none;
    }
  }
  @media screen and (max-width: 1100px) {
    .navUl{
        padding-left: 5px;

    }
    .iconNav{
        margin-left: 0px;
    }
  }


.M_SlideBtn{
    background: white;
    border-radius: 10px;
    width: 135px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    font-family: Montserrat;
    color: #ec1d25;
    position:absolute;
    left: 50%;
    top: 67%;
    border: 0;
    transform: translate(-50%,-50%);
}

.M_SlideBtn:hover{
    background-color: #d61c22;
    transition: all 0.6s;
    color: #fff;
}
.slick-arrow{
    right: 50px;
    z-index: 1;

}
.slick-prev:before, .slick-next:before {
    color: transparent;
}

.slick-prev{
    left: 50px;
}
button{
    outline: none !important;
    border: none;
    background: transparent;
}
.MySlick-next:hover{
    background-color: #d61c22;
}
.MySlick-prev:hover{
    background-color: #d61c22;
}
.MySlick-next{
    top: 53%;
    right: 50px;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.883);
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s;
    border: none;
    opacity: 0;
    visibility: hidden;
}
.ReviewSlide:hover .MySlick-next{
    opacity: 0.8;
    visibility: visible;

}
.ReviewSlide:hover .MySlick-prev{
    opacity: 0.8;
    visibility: visible;

}
.EventSlide:hover .MySlick-next{
    opacity: 0.8;
    visibility: visible;

}
.EventSlide:hover .MySlick-prev{
    opacity: 0.8;
    visibility: visible;

}
.M_slider:hover .MySlick-prev{
    opacity: 0.8;
    visibility: visible;

}
.M_slider:hover .MySlick-next{
    opacity: 0.8;
    visibility: visible;

}
.MySlick-prev{
    top: 53%;
    right: -20 px;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    color: white;
    position: absolute;
    background-color: black;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 200;
    transition: all 0.4s;
    border: none;
    opacity: 0;
    visibility: hidden;
}
.M_content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
 .caption2{
    font: 60px  Courgette, serif;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}
 .caption1{
    font-size: 90px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}

/* .slick-arrow, .slick-next{

}
.slick-prev:before, .slick-next:before{

} */
.slick-dots{
    top: 87%;
    bottom: 5px;
    
}
.slick-dots li button:before{
    color: transparent;
}
.slick-dots li button{
    display: block;
    color: transparent;
    background-color: #958e88;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: all 0.4s;


}
.slick-dots li button:hover{
    background-color: #d41b22;
    border-radius: 50%;
    padding: 0;
    color: transparent;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    z-index: 10;
    }

.slick-dots li.slick-active button:before{
background-color: #d41b22;
border-radius: 50%;
padding: 0;
color: transparent;
border: 3px solid white;
width: 15px;
height: 15px;
}
/* ******** */
.slick-dots li .MySlick-dots:before{
    color: transparent;
}
.slick-dots li .MySlick-dots{
    display: block;
    color: transparent;
    background-color: #958e88;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: all 0.4s;
    border: none;
    outline: none;


}
.slick-dots li .MySlick-dots:hover{
    background-color: #d41b22;
    border-radius: 50%;
    padding: 0;
    color: transparent;
    z-index: 10;
    }

    .slick-dots li.slick-active .MySlick-dots{
    background-color: #d41b22;
    border-radius: 50%;
    padding: 0;
    color: transparent;
    
    }
/* ********* */
 .img-M_Slide{
    width: 100%;
    height: 100%;
}

/*
 
    ###    ########   #######  ##     ## ########          ######  ########  ######  
   ## ##   ##     ## ##     ## ##     ##    ##            ##    ## ##       ##    ## 
  ##   ##  ##     ## ##     ## ##     ##    ##            ##       ##       ##       
 ##     ## ########  ##     ## ##     ##    ##             ######  ######   ##       
 ######### ##     ## ##     ## ##     ##    ##                  ## ##       ##       
 ##     ## ##     ## ##     ## ##     ##    ##            ##    ## ##       ##    ## 
 ##     ## ########   #######   #######     ##    #######  ######  ########  ######  
 
*/

/* 
** title **
*/
.red-tit{
    font-family: Courgette;
    font-size: 30px;
    color: #d61c22;
    text-align: center;
}
.black-tit{
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    padding-bottom: 25px;

}
.About-p{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    color: #666666;
    text-align: center;
    max-width: 490px;
}
.AboutContent{
    position: relative;
    top: 50px;
}
.AboutSec{
    background-color: rgb(235, 235, 235);
    padding-bottom: 250px;

}
.AboutSec2{
    background-color: rgb(235, 235, 235);
    position: relative;
    top: 120px;

}
.AboutImg{
    max-width: 390px;
    position: relative;
    left: 100px;
    overflow: hidden;
    border-radius: 5%;

}
.HalfImg{
    width: 100%;
    border-radius: 5%;
    transition: all 0.6s;

}
.HalfImg:hover{
    transform: scale(1.1);
    transition: all 0.6s;
    border-radius: 5%;
    background-size: cover;
}
.Go-about{
    color: #333;
    position: relative;
    left: 40%;
}
.Go-about:hover{
    color: #d61c22;
    text-decoration: none;
}

/*
 
 ########  ####  ######   ######   #######  ##     ## ######## ########  
 ##     ##  ##  ##    ## ##    ## ##     ## ##     ## ##       ##     ## 
 ##     ##  ##  ##       ##       ##     ## ##     ## ##       ##     ## 
 ##     ##  ##   ######  ##       ##     ## ##     ## ######   ########  
 ##     ##  ##        ## ##       ##     ##  ##   ##  ##       ##   ##   
 ##     ##  ##  ##    ## ##    ## ##     ##   ## ##   ##       ##    ##  
 ########  ####  ######   ######   #######     ###    ######## ##     ## 
 
*/


.Discover{
background-image: url(../../pato\ images/blog/bg-intro-01.jpg);
background-attachment: fixed;
background-size:100%;
width: 100%;
height: 100%;
padding: 120px 10px ;

}

.Discover-card{
    margin: 100px 5px;
    overflow: hidden;
    border-radius: 5% 5% 0 0;

}

.card-img{
    transition: all 0.6s;
    overflow: hidden;
    border-radius: 5%!important;
    
}
.card-img:hover{
    border-radius: 5%!important;

}

.card-tit{
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    letter-spacing: 3px;
    overflow: hidden;
}
.email-tit{
    font-size: 20px;
    position: relative;


}
.card-tit:hover{
    color: #d61c22;
    transition: all 0.6s;
}
.card-p{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
}
.link-card{
    position: relative;
    left: 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    letter-spacing: 1px;
}

/*
 
 ##     ## ######## ##    ## ##     ##          ######  ########  ######  
 ###   ### ##       ###   ## ##     ##         ##    ## ##       ##    ## 
 #### #### ##       ####  ## ##     ##         ##       ##       ##       
 ## ### ## ######   ## ## ## ##     ##          ######  ######   ##       
 ##     ## ##       ##  #### ##     ##               ## ##       ##       
 ##     ## ##       ##   ### ##     ##         ##    ## ##       ##    ## 
 ##     ## ######## ##    ##  #######  #######  ######  ########  ######  
 
*/

.DiscoverMenu{
    background-image: url(../../pato\ images/pattern2.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding: 80px 0;
}
.DiscoverMenuCard{
    position: relative;
}
.DiscoverBtn{
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    width: 173px;
    height: 60px;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    letter-spacing: 3px;
    border: 0;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.DiscoverBtn:hover{
    background-color: #d61c22;
    transition: all 0.6s;
    color: #fff;
}

/*
 
 ########  ########  ######  ######## ########  ##     ##    ###    ######## ####  #######  ##    ## 
 ##     ## ##       ##    ## ##       ##     ## ##     ##   ## ##      ##     ##  ##     ## ###   ## 
 ##     ## ##       ##       ##       ##     ## ##     ##  ##   ##     ##     ##  ##     ## ####  ## 
 ########  ######    ######  ######   ########  ##     ## ##     ##    ##     ##  ##     ## ## ## ## 
 ##   ##   ##             ## ##       ##   ##    ##   ##  #########    ##     ##  ##     ## ##  #### 
 ##    ##  ##       ##    ## ##       ##    ##    ## ##   ##     ##    ##     ##  ##     ## ##   ### 
 ##     ## ########  ######  ######## ##     ##    ###    ##     ##    ##    ####  #######  ##    ## 
 
*/

.ReservationSec{
    background-image: url(../../pato\ images/pattern1.png);
    background-repeat: repeat;
    padding: 90px 0 170px;
}
.form-input:focus{
    outline: none;
    border: 2px solid #d61c22!important; ;
    z-index: 10;
/* =======
    padding: 80px 0;
 main */
}
.form-input{
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    border: 2px solid rgb(204, 204, 204);
    width: 246px;
    height: 46px;
    padding-left: 20px;
}

.form-label{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    color: #555555;
}

.Button{
    color: #fff;
    background-color: rgba(1, 1, 1, 0.945);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    top: 110%;
}
.emailbtn{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    line-height: 1.1;
    color: #fff;
    background-color: rgba(1, 1, 1, 0.945);
}
.emailbtn:hover{
    background-color: #d61c22;

}

.Date-input{
    padding-top: 5px;
}




 

/*
 
  ######  ##       #### ########  ######## ########  
 ##    ## ##        ##  ##     ## ##       ##     ## 
 ##       ##        ##  ##     ## ##       ##     ## 
  ######  ##        ##  ##     ## ######   ########  
       ## ##        ##  ##     ## ##       ##   ##   
 ##    ## ##        ##  ##     ## ##       ##    ##  
  ######  ######## #### ########  ######## ##     ## 
 
*/

.sliderItem{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 80px 0;
}
.sliderItem1{
background-image: url(../../pato\ images/event/bg-event-01.jpg);

}
.sliderItem2{
    background-image: url(../../pato\ images/event/bg-event-02.jpg);

}
.sliderItem3{
    background-image: url(../../pato\ images/event/bg-event-04.jpg);

}
.SlideCard{
    border-radius: 10px!important;
    overflow: hidden;
    width: 1227px;
    height: 380px;
    position: relative;
    margin: 20px 0 120px;
    left: 3%;
}
.eventDivImg{
    width: 110%;
    height: 100%;
}
.eventImg{
    width: 100%;
    height: 380px;
}
.eventspan{
    width: 390px;
    height: 50px;
    transform-origin: center center;
    position: absolute;
    top: 50%;
    left: 7%;
    color: rgba(255, 255, 255, 0.87);
    background-color: #d61c22dc;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;

    transform: translate(-50%, -50%) rotateZ(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventDivInfo{
    width: 100%;
    background-color: white;
    height: 100%;
    text-align: center;
    padding: 80px 40px 15px ;
}
.eventTit{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/**********************************************
***********************************************
**********************************************/

.ReviewCard{
    padding: 30px 0 160px;
    text-align: center;
}
.ReviewDivImg{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.ReviewImg{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ec1d25;
}
.fa{
    color: #ec1d25;
}

/*
 
  #######  ##     ## ########     ##     ## #### ########  ########  #######  
 ##     ## ##     ## ##     ##    ##     ##  ##  ##     ## ##       ##     ## 
 ##     ## ##     ## ##     ##    ##     ##  ##  ##     ## ##       ##     ## 
 ##     ## ##     ## ########     ##     ##  ##  ##     ## ######   ##     ## 
 ##     ## ##     ## ##   ##       ##   ##   ##  ##     ## ##       ##     ## 
 ##     ## ##     ## ##    ##       ## ##    ##  ##     ## ##       ##     ## 
  #######   #######  ##     ##       ###    #### ########  ########  #######  
 
*/

.OurVideo{
    background-image: url(../../pato\ images/bg-video.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 110vh;
}
.videoInfo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    padding-top: 230px;
}
.videoIconDiv{
    position: relative;
    left: 50%;
    top: -5%;
    transform: translate(-50%,50%);
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.5s;

}
.videoIconDiv:hover{
    background-color: #ec1d24a6;
    color: white;
    transform: scale(1.2);
    left: 47.3%;
    top: 1%;
}
.videoIcon{
    position: relative;
    display: flex;
    justify-content: center;
    top: 40%;
}

/* *************************************************************** */
/* *****************************  BlogSec  ********************************** */
/* *************************************************************** */
.BlogSec{
padding: 120px 0 0;
}
.blog-card{
    margin-top: 20px;
    position: relative;
}
.blogbtn{
    background-color: rgba(0, 0, 0, 0.486);
    color: #fff;
    padding: 0 10px ;
    border-radius: 5px;
    position: absolute;
    top: 38%;
    left: 10%;
}

/* *************************************************************** */
/* ******************************      ********************************* */
/* **************************************************************** */

.SubEmail{
    background-image: url(../../pato\ images/pattern1.png);
    background-repeat: repeat;
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border: none;
    
}
.EmailIcon{
    position: absolute;
    left: 60%;
    transform: translate(-20px,10px);
}

/*
 ########  #######   #######  ######## ######## ########  
 ##       ##     ## ##     ##    ##    ##       ##     ## 
 ##       ##     ## ##     ##    ##    ##       ##     ## 
 ######   ##     ## ##     ##    ##    ######   ########  
 ##       ##     ## ##     ##    ##    ##       ##   ##   
 ##       ##     ## ##     ##    ##    ##       ##    ##  
 ##        #######   #######     ##    ######## ##     ## 
*/

.footer{
    padding: 80px 0 60px;
    background-color: #212529;
}
.Divfirst{
    padding-bottom: 60px;
}
.footerTit{
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footerDivP{
    font-size: 14px;
    color: #999;
}
.footerP{
padding-left: 10px;
}

.img img {
    width: 100%;
    height: 100%;
    
}
.img{
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    position: relative;
    overflow: hidden;
}
.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s;

}
.layer:hover{
    background-color: #ec1d2486;
    transition: all 0.4s;

}

.lastFotter{
    background-color: #111;
    padding: 20px 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.icon a{
    font-size: 30px;
    color: #fff;
}

.icon a:hover{
    color: #ec1d24c7!important;

}
.setIcon{
    display: flex;
    justify-content: center;
    padding-right: 30px;
}
.marka{
    display: flex;
    justify-content: center;

}



 