@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* M_slider */
#M_slider{
position: relative;
height: 100vh;
left: 0px;
bottom: 0;
}
.slick-arrow{
    right: 50px;
    z-index: 1;
}
.slick-prev{
    left: 50px;
    z-index: 1;
}
.M_content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
 .caption2{
    font: 60px  Courgette, serif;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}
 .caption1{
    font-size: 90px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}

/* .slick-arrow, .slick-next{

}
.slick-prev:before, .slick-next:before{

} */
.slick-dots{
    top: 85%;
    bottom: 5px;
    
}
.slick-dots li button:before{
    font-size: 15px;
    color: #958e88;
}
.slick-dots li.slick-active button:before{
background-color: #d41b22;
border-radius: 50%;
padding: 0;
color: transparent;
border: 3px solid white;
width: 15px;
height: 15px;
}

 .img-M_Slide{
    width: 100%;
    height: 100%;
}


/* #M_slider .M_Slide1{
    
}
#M_slider .M_Slide2{
    
}
#M_slider .M_Slide3{
    
} */

