
.layer0{
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    min-height: 545px;
    z-index: 100;
    position: absolute;
}
.ReservationImg{
    background-image: url(../../pato\ images/gallery/photo-gallery-03.jpg);
    min-height: 545px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: 48% 58%;
    background-size: cover;
    position: relative;
}
.ReservationTit{
    text-align: center;
    position: absolute;
    top: 52%;
    left: 44%;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 6px;
}
.myContainer{
    margin: auto;
    width: 70%;
    margin-bottom: 120px;
}
.ReservationInfo{
    background-image: url(../../pato\ images/pattern1.png);
    background-repeat: repeat;
    padding: 100px;
}
.ReservationParaTit{
    font-weight: 500;
    font-size: 22px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.ReservationParaP{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666;
    margin: 0;
}
.ReservationSpan{
    color: #d41b22;
}